.background {
    background-color: rgb(26, 29, 41);
    height: 100vh;
    position: fixed;
    top: 0px;
    width: 100%;
    z-index: -3;
}

.background::after {
    content: "";
    position: absolute;
    background: url('/images/home-background.png') 50%/cover no-repeat fixed;
    inset: 0px;
    opacity: 1;
    transition: opacity 500ms ease 0s;
}

.main {
    position: relative;
    top: 72px;
    min-height: calc(100vh - 250px);
    /* background-color: aqua; */
    padding: 0 calc(3.5vw + 24px);
    overflow-x: hidden;
}

.franchiseRow {
    display: flex;
    padding: 0px 0px 26px;
}
